<div class="header">
	<h1>THIS IS THE TITLE. {{image.length}} IMAGES</h1>
	<div class="navbar">
		<span><a href="/streetart">HOME</a></span>
		<span>//</span>
		<span><a href="/user/signup">SIGN UP</a></span>
		<span>//</span>
		<span><a href="/user/login">LOGIN</a></span>
		<span>//</span>
		<span><a href="/streetart/new">UPLOAD</a></span>
	</div>
</div>

<h2>{{title}}</h2>

<!-- <ul>
	<li><img src="{{imageUrl}}" alt=""></li>
</ul> -->

<div class="list">

		<div class="image-item">
				<img src="{{imageUrl}}" alt="" width="200px">
				<p>{{title}}</p>
		</div>

</div>
